# Full Stack Data Science // Non-Graded Challenge 10

## Instruction

1. Download this **[dataset](https://www.kaggle.com/datasets/hendratno/covid19-indonesia)**

2. Find the Measure of Central Tendency from the dataset

3. Find the Measure of Variance from the dataset

## Import Libraries 

These are libraries that are used in this assignment:

- pandas : used to load and analyze the data

- numpy : Used to do mathematical calculation

- matplotlib : used to create visualization of the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Answer

####  Problem 1

In [9]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')

In [17]:
df.head(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN

In [12]:
df.tail(3)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
21756,12/2/2021,ID-SS,Sumatera Selatan,4,0,0,4,59937,3071,56830,...,-3.216212,0.49,7293.78,0.00,373.71,37.37,5.12%,94.82%,4.00,1.0
21757,12/2/2021,ID-SU,Sumatera Utara,4,0,1,3,106045,2889,103061,...,2.191894,0.27,7129.13,0.00,194.22,19.42,2.72%,97.19%,1.00,1.0
21758,12/3/2021,IDN,Indonesia,245,8,328,-91,4257243,143858,4105680,...,-0.789275,0.92,16053.83,0.03,542.48,54.25,3.38%,96.44%,0.79,0.8

##### These are the only tables that will be used

| Variable | Definition | 
| --- | --- | 
| New Cases | New daily positive cases |
| New Deaths | New daily deaths |
| New Recovered | New daily recovered |
| New Active Cases | New daily active cases |

In [5]:
df_new = df[['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases']]

   New Cases  New Deaths  New Recovered  New Active Cases
0          2           0              0                 2
1          2           0              0                 2
2          2           0              0                 2

In [7]:
df_new.head(3)

   New Cases  New Deaths  New Recovered  New Active Cases
0          2           0              0                 2
1          2           0              0                 2
2          2           0              0                 2

In [8]:
df_new.tail(3)

       New Cases  New Deaths  New Recovered  New Active Cases
21756          4           0              0                 4
21757          4           0              1                 3
21758        245           8            328               -91

####  Problem 2

- mean/average

In [18]:
df_new.mean()

New Cases           391.293580
New Deaths           13.220415
New Recovered       377.310998
New Active Cases      0.762167
dtype: float64

- median

In [19]:
df_new.median()

New Cases           41.0
New Deaths           1.0
New Recovered       31.0
New Active Cases     0.0
dtype: float64

columns `New Cases`, `New Deaths`, and `New Recovered` have huge difference on their mean and median which indicates that those 3 columns have a skewed distribution that will be further explained with skewness

- median

In [20]:
df_new.mode()

   New Cases  New Deaths  New Recovered  New Active Cases
0          0           0              0                 0

since we use numerical data, using mode will not give us a lot of information as shown above

- Skewness

In [21]:
df_new.skew()

New Cases           14.819784
New Deaths          15.486513
New Recovered       13.994169
New Active Cases     4.962833
dtype: float64

because all of the columns's skewness value are more than 1, so we can say that the distribution of all of the columns are right-skewed

- Kurtosis

In [22]:
df_new.kurt()

New Cases           282.068710
New Deaths          296.433852
New Recovered       246.665546
New Active Cases    413.547100
dtype: float64

we got a really big value for the kurtosis of each column that indicated all of our columns have A leptokurtic distribution or fat-tailed distribution which means there are a lot of outliers for each column.

####  Problem 3

- range

In [27]:
max_val = df_new.max()
max_val

New Cases           56757
New Deaths           2069
New Recovered       48832
New Active Cases    36726
dtype: int64

In [28]:
min_val = df_new.min()
min_val

New Cases               0
New Deaths              0
New Recovered           0
New Active Cases   -25725
dtype: int64

In [29]:
max_val - min_val

New Cases           56757
New Deaths           2069
New Recovered       48832
New Active Cases    62451
dtype: int64

Using range wouldn't be to insighful due to the fact that all of the minimal value of each column is 0 except `New Active Cases` that has a negative value that will give an incorrect interpretation

- IQR

In [33]:
# counting the 25th, 50th (median), 75th quartiles of each column
df_quartile = df_new.quantile([0.25,0.5,0.75]).T
df_quartile

                  0.25  0.50   0.75
New Cases          7.0  41.0  151.0
New Deaths         0.0   1.0    5.0
New Recovered      4.0  31.0  143.0
New Active Cases -16.0   0.0   27.0

This method is a little better to give us the idea of how the data spread throught out the dataset, although there are still some weird stuff such as the negative value for the 25th quartile of `New Active Cases` and others

In [37]:
df_quartile[0.75]

New Cases           151.0
New Deaths            5.0
New Recovered       143.0
New Active Cases     27.0
Name: 0.75, dtype: float64

In [39]:
# counting IQR for each column

df_quartile['IQR'] = df_quartile.apply(lambda x: x[0.75] - x[0.25], axis=1)

In [40]:
df_quartile

                  0.25   0.5   0.75    IQR
New Cases          7.0  41.0  151.0  144.0
New Deaths         0.0   1.0    5.0    5.0
New Recovered      4.0  31.0  143.0  139.0
New Active Cases -16.0   0.0   27.0   43.0

similar to range that we have calculated before, `New Active Cases` gives a weird output since the 25th quartile is negative hence instead of subtracting, it's adding the 75th quartile.

- Variance/Standard Deviation

In [43]:
df_new.var()

New Cases           4.303762e+06
New Deaths          5.849591e+03
New Recovered       3.996251e+06
New Active Cases    8.783692e+05
dtype: float64

In [44]:
df_new.std()

New Cases           2074.551043
New Deaths            76.482617
New Recovered       1999.062563
New Active Cases     937.213509
dtype: float64

both standard deviation adn variance indicate that the data are spread really wide especially column `New Cases`, `New Deaths` and `New Active Cases`